[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
yapf = "*"
pylama = "*"
rope = "*"
isort = "*"

[requires]
python_version = "3.6"
